.qwerty1 {
    float: left;
    margin-right: 7px;
    color: #ed6742;
    font-family: "Roboto Slad", serif;
    font-size: 52px;
    line-height: 52px;
}
.qwerty2 {
    margin-top: 50px;
    padding: 10px 0;
    border-top: 1px solid #ed6742;
    font-style: italic;
    font-size: 14px;
    font-weight: 300;
}