h1 {
    text-decoration: underline;
    color: white;
}
h2 {
    text-decoration: line-through;
    color: white
}
h3 {
    text-decoration: overline;
    color: white;
}
h4 {
    text-decoration: underline overline line-through;
    color: white;
}
table {
    background-color: black;
    color: white;
}
td {
    border: 5px dashed yellow;
}